body{
    text-align: center;
}

div{
    margin: auto;
    height: 500px;
    width: 500px;
    border: 5px solid;
}
h1{
    height: 100px;
    width: 500px;
    margin: auto;
    border: 5px solid;
}
button{
    border-width: 69px;


}